.Index_page {
  width: 100%;
}
.index_container {
  width: 100%;
}
.index_container .index_news {
  width: 100%;
  height: 65px;
  position: relative;
}
.index_container .index_news .news_content {
  width: 100%;
  height: 65px;
  background-color: #f2f2f2;
  position: relative;
  overflow: hidden;
  transition: all 0.5s;
}
.index_container .index_news .news_content i {
  display: inline-block;
  width: 22px;
  height: 20px;
  background: url(../../../../static/img/icon_news.png) no-repeat;
  position: absolute;
  top: 23px;
  left: 400px;
}
.index_container .index_news .news_content ul {
  width: 100%;
  height: 65px;
}
.index_container .index_news .news_content ul.anim {
  transition: all 0.5s;
}
.index_container .index_news .news_content ul li {
  width: 100%;
  height: 65px;
  padding-left: 450px;
  line-height: 65px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.index_container .index_news .news_content ul li .news_link {
  color: #2e2e57;
}
.index_container .index_news .news_content ul li .news_link span {
  margin-left: 20px;
  color: #6c6c6c;
  font-weight: normal;
}
.index_container .index_news .about_baho {
  position: absolute;
  width: 742px;
  height: 65px;
  background-color: #e2e2e2;
  top: 0;
  right: 0;
}
.index_container .index_news .about_baho .about_baho_text {
  font-size: 14px;
  color: #2e2e57;
  font-weight: bold;
  display: inline-block;
  height: 65px;
  line-height: 65px;
  cursor: pointer;
}
.index_container .index_news .about_baho .about_baho_text:first-child {
  margin-left: 160px;
  margin-right: 50px;
}
.index_container .index_news .about_baho .about_baho_text:last-child {
  margin-left: 50px;
  position: relative;
}
.index_container .index_news .about_baho .about_baho_text:last-child .code_content {
  width: 138px;
  height: 125px;
  display: block;
  background-image: url(../../../../static/img/code.png);
  position: absolute;
  top: -32px;
  left: 65px;
  z-index: 2;
  display: none;
}
.index_container .index_news .about_baho .about_baho_text:last-child:hover .code_content {
  display: block;
}
