.about_content {
    width: 100%;
    .about_banner {
        width: 100%;
        height: 428px;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .content_container {
        width: 1150px;
        margin: 0 auto;
        .content_left {
            width: 775px;
            border-right: 1px solid #ccc;
            float: left;
            margin: 56px 23px 43px 0;
            padding-right: 23px;
            .title {
                width: 100%;
                height: 118px;
                margin-bottom: 40px;
                span {
                    display: inline-block;
                    &:first-child {
                        float: left;
                        background-repeat: no-repeat;
                        width: 350px;
                        height: 118px;
                    }
                    &:last-child {
                        float: right;
                        width: 399px;
                        height: 57px;
                        background-repeat: no-repeat;
                        background-size: cover;
                        margin-top: 58px;
                    }
                }
            }
            .text {
                width: 100%;
                height: auto;
                min-height: 400px;
                overflow: hidden;
                margin-top: 10px;
                font-size: 14px;
                color: #000;
                p {
                    // text-indent: 2em;
                    line-height: 25px;
                }
            }
        }
        .content_right {
            width: 313px;
            float: right;
            margin-top: 56px;
            span {
                display: block;
                margin-bottom: 10px;
                width: 313px;
                background-repeat: no-repeat;
                background-size: cover;
                &:first-child {
                    height: 283px;
                }
                &:nth-child(2) {
                    height: 109px;
                }
                &:last-child {
                    height: 148px;
                }
            }
        }
    }
}