* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Microsoft Yahei' !important;
}
a {
  text-decoration: none;
  color: #000;
}
p,
span {
  font-family: 'Microsoft Yahei' !important;
}
ul,
li {
  list-style: none;
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.bottom_soild {
  width: 100%;
  height: 5px;
}
.bottom_soild .left_soild {
  float: left;
  width: 63%;
  height: 100%;
  background-color: #eee;
}
.bottom_soild .right_soild {
  float: right;
  width: 37%;
  height: 100%;
  background-color: #ccc;
}
.content_mtop {
  padding-top: 3rem;
}
