.nav_header {
  width: 100%;
  height: 1.25rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #e9e8e5;
  z-index: 999;
}
.nav_header .nav {
  width: 100%;
  height: 100%;
}
.nav_header .nav .logo {
  width: 0.46rem;
  height: 0.66rem;
  margin-top: 0.35rem;
  margin-left: 0.31rem;
}
.nav_header .nav .logo img {
  width: 100%;
  height: 100%;
}
.nav_header .nav .nav_ul {
  width: 0.5rem;
  height: 0.4rem;
  margin-top: 0.41rem;
  margin-right: 0.35rem;
  background-image: url(../../img/mobile/logo.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.nav_header .nav .nav_ul.anim {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -moz-transform: rotate(90deg);
  /* Firefox */
  -webkit-transform: rotate(90deg);
  /* Safari 和 Chrome */
  -o-transform: rotate(90deg);
  /* Opera */
}
.nav_header .nav_box {
  position: absolute;
  right: 0;
  width: 100%;
  background-color: #f1f1f1;
  border-bottom: 1px solid #cfcfcf;
  font-size: 0.14rem;
  font-family: 'Microsoft Yahei' !important;
}
.nav_header .nav_box .el-menu {
  background-color: #f1f1f1;
}
.nav_header .nav_box .el-menu .el-menu-item * {
  vertical-align: baseline!important;
}
.nav_header .nav_box .el-menu li {
  border-bottom: 1px solid #cfcfcf;
}
.nav_header .nav_box .el-menu li:last-child {
  border-bottom: 0 none;
}
.nav_header .nav_box .el-menu li.el-menu-item.is-active {
  font-weight: bold;
}
.nav_header .nav_box .el-menu li.el-menu-item:hover {
  background: rgba(241, 241, 241, 0);
}
.nav_header .nav_box .el-menu li.el-submenu.is-opened .el-submenu__title {
  color: #0d386b!important;
  font-weight: bold;
}
.nav_header .nav_box .el-menu li .el-submenu__title:hover {
  background: rgba(241, 241, 241, 0);
}
.nav_header .nav_box .el-menu li .contact_icon {
  height: 100%;
  position: relative;
}
.nav_header .nav_box .el-menu li .contact_icon a {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 10px;
}
.nav_header .nav_box .el-menu li .contact_icon a.wx_icon {
  background-image: url(../../img/mobile/next.png);
  right: 50px;
}
.nav_header .nav_box .el-menu li .contact_icon a.wx_icon img {
  width: 80px;
  height: 80px;
  position: absolute;
  top: -85px;
  left: -20px;
}
.nav_header .nav_box .el-menu li .contact_icon a.wb_icon {
  background-image: url(../../img/mobile/next.png);
  right: 0;
}
